@model IEnumerable<AnimalVaccProject.ViewModels.SampleViewData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("إضافة عينة جديدة", "Create")
</p>


@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.NextPrevious);
}
<div id="mPstContent">
    @grid.GetHtml(
        tableStyle: "table table-responsive",
    columns: grid.Columns(
                        grid.Column(header: "م.", format: @<text><div>@(item.WebGrid.Rows.IndexOf(item) + 1)</div></text>),
                        //grid.Column(header: "??? ???????", format: (item) => Html.Raw("<span class='getId'>" + item.ItemId+ "</span>")),
                        grid.Column(header: "تاريخ العينة", format: (item) => string.Format("{0:dd/MM/yyyy}", item.SampleDate)),
                        grid.Column(header: "رقم العينة", format: (item) => Html.Raw("<span>" + item.SampleNo + "</span>")),
                        grid.Column(header: "إسم المربي", format: (item) => Html.Raw("<span>" + item.FarmerName + "</span>")),
                        grid.Column(header: "حالة العينة", format: (item) => Html.Raw("<span>" + item.Results + "</span>")),
                        grid.Column("", style: "button", format: @<text>
                            <a href='@Url.Action("Edit","SampleTest",new{id=item.Id})'>
                                <img src="~/Content/Images/Assets/edit.png" style="width:2rem;" />
                            </a>|
                            @*<a href='@Url.Action("Details","SampleTest",new{id=item.Id})'>
                                <img src="~/Content/Images/Assets/list.png" style="width:2rem;" />
                            </a>|*@
                            <a href='@Url.Action("DeleteConfirmed","SampleTest",new{id=item.Id})' , onclick="return confirm('Are you sure you wish to delete this article?');">
                                <img src="~/Content/Images/Assets/delete.png" style="width:2rem;" />
                            </a>
                        </text>)
                           )
                     )
</div>
@section scripts{
    
   <script type="text/javascript">
        $(function () {

            $('tr').each(function (index) { //iterate over all table rows

                if (index > 0) {     //skip header
                    if ($(this).children('td:nth-child(5)').text() == 0)  //the sample not yet analysised.
                    {

                        $(this).children('td:nth-child(5)').css("color", "black");
                        $(this).children('td:nth-child(5)').css("background-color", "yellow");
                        $(this).children('td:nth-child(5)').text("لا توجد نتيجة");

                    }
                    else if ($(this).children('td:nth-child(5)').text() == 1) {

                        $(this).children('td:nth-child(5)').css("color", "white");
                        $(this).children('td:nth-child(5)').css("background-color", "green");
                        $(this).children('td:nth-child(5)').text("النتيجة سلبية");
                    }else if ($(this).children('td:nth-child(5)').text() == 2) {

                        $(this).children('td:nth-child(5)').css("color", "white");
                        $(this).children('td:nth-child(5)').css("background-color", "red");
                        $(this).children('td:nth-child(5)').text("النتيجة إيجابية");

                    }
                    //else
                    //{
                    //    $(this).children('td:nth-child(3)').css("background-color", "red");
                    //}
                }
            });
        });

</script> 
    
    }
