@model IEnumerable<AnimalVaccProject.Models.tbl_Sample>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.NextPrevious);
}
<div id="mPstContent">
    @grid.GetHtml(
        tableStyle: "table table-responsive",
    columns: grid.Columns(
                        grid.Column(header: "NO.", format: @<text><div>@(item.WebGrid.Rows.IndexOf(item) + 1)</div></text>),
                        //grid.Column(header: "??? ???????", format: (item) => Html.Raw("<span class='getId'>" + item.ItemId+ "</span>")),
                        grid.Column(header: "تاريخ العينة", format: (item) => Html.Raw("<span>" + item.SampleDate + "</span>")),
                        grid.Column(header: "رقم العينة", format: (item) => Html.Raw("<span>" + item.SampleNo + "</span>")),
                        grid.Column(header: "إسم المربي", format: (item) => Html.Raw("<span>" + item.MId + "</span>")),
                        grid.Column(header: "حالة العينة", format: (item) => Html.Raw("<span>" + item.SId + "</span>")),
                        grid.Column(header: "Price", format: (item) => Html.Raw("<span>" + item.Price + "</span>")),
                        grid.Column("", style: "button", format: @<text>
                            <a href='@Url.Action("Edit","Items",new{id=item.ItemId})'>
                                <img src="~/Content/Images/edit.png" style="width:2rem;" />
                            </a>|
                            <a href='@Url.Action("Details","Items",new{id=item.ItemId})'>
                                <img src="~/Content/Images/list.png" style="width:2rem;" />
                            </a>|
                            <a href='@Url.Action("DeleteConfirmed","Items",new{id=item.ItemId})' , onclick="return confirm('Are you sure you wish to delete this article?');">
                                <img src="~/Content/Images/delete.png" style="width:2rem;" />
                            </a>
                        </text>)
                           )
                     )
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FarmerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgriCert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SampleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SampleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SampleNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Results)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FarmerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgriCert)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SampleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SampleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SampleNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Results)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
