@model IEnumerable<AnimalVaccProject.Models.tbl_Animal>

@{
    ViewBag.Title = "Index";
}

<style>
#anilst{width:20rem;border:1px solid #DFF0D8;}
table{width:10rem;}
    table tr th{text-align:right;background-color:#DFF0D8;}
</style>
<h2>قائمة الحيوانات</h2>

<p>
    @Html.ActionLink("إضافة حيوانات", "Create")
</p>
<table id="anilst" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.AId }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.AId })
        </td>
    </tr>
}

</table>
