@model AnimalVaccProject.Models.tbl_Vacc

@{
    ViewBag.Title = "Create";
}

<h2>إضافة خدمة التحصين</h2>
<div>
    @Html.ActionLink("عودة لقائمة التحصينات", "Index")
</div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            <div class="col-md-10">
                @Html.DropDownList("FarmerId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FarmerId, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">إسم المربي</label>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgriCert, new { htmlAttributes = new { @class = "form-control", style = "width:100px;" } })
                @Html.ValidationMessageFor(model => model.AgriCert, "", new { @class = "text-danger" })
                <span class="agrcerttatus" style="color:red;font-weight:bold;"></span>
            </div>
            @Html.LabelFor(model => model.AgriCert, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.VaccDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VaccDate, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.VaccDate, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("AId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AId, "", new { @class = "text-danger" })
            </div>
            <label class = "control-label col-md-2">نوع الحيوان</label>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("DoseId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DoseId, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">نوع الجرعة</label>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("DisId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DisId, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">نوع المرض</label>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TotalNo,  new { @class = "form-control", style = "width:50px;"})
                @Html.ValidationMessageFor(model => model.TotalNo, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.TotalNo, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("vaccTool", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AId, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">آلية التحصين المستخدمة</label>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="إضافة" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $("#VaccDate").datepicker();
    </script>

    <!--Check for Agri Certificate-->
    <script>
        //when Framer dropdownlist changes----------------------------------------------------------------------------------------------------------
        $(document).on('change', "#FarmerId", function () {
            var FID = $(this).val();
            $("#AgriCert").val(""); //clear agri certificate
            url = "/AgriCerts/getAgriCerti" + "?FID=" + FID;
            $.ajax({
                type: "POST",
                url: url,
                data: "{}",
                contentType: "application/json; charset=utf-8",
                datatype: "jsondata",
                async: "true",
                cache: false,
                success: function (data) {
                    if (data.GetID > 0)
                    {
                        $("#AgriCert").val(data.GetID);
                    } else {
                        $("#AgriCert").val("");
                        $(".agrcerttatus").html("لا توجد حيازة مسجلة بإسم الحائز");
                    }
                   

                },
                error: function (error) {
                    //to do:
                }
            });
        });

    </script>

}