@model AnimalVaccProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            @Html.ActionLink("تغير كلمة المرور", "ChangePassword")
           @*@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })*@
        </div>
        <label class="col-md-2 control-label">تغير كلمة المرور</label>
    </div>

                @*@Html.ActionLink("Create", "SetPassword")
         
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]*@

    
</div>
